# dependencies
node_modules/

# build
dist/
build/
.next/
out/

# logs
**.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
**.env
!.env.example

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# package manager
.pnpm-store/

# coverage
coverage/

# misc
.tmp/
.cache/